* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #051a16;
}
h1,
h2,
p {
  color: $blanco;
}
.flecha_inicio {
  position: fixed;
  bottom: 10px;
  right: 20px;
  img {
    width: 25px;
    height: 25px;
  }
}
.main_principal {
  background-image: url(../../img/background.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  &_paragraph {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    &_title {
      color: #f1875e;
      font-weight: 700;
      font-size: 2rem;
      padding: 0 15px;
      &-subtitle {
        color: $blanco;
        font-weight: 400;
        font-size: 1.7rem;
        padding: 0 15px;
      }
    }
  }
}
.main_principal-icons {
  padding: 0 10px;
  img {
    padding: 5px;
    width: 25px;
    height: 30px;
  }
}
.btn {
  background-color: #051a16;
  color: $blanco;
  font-weight: 400;
  border-radius: 10px;
  margin: 10px;
}
.section_principal {
  margin-top: 20px;
  padding: 15px;
  &_title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    &-paragraph {
      padding: 15px;
      font-size: 1rem;
      font-weight: 200;
      text-align: justify;
      line-height: 1.8;
    }
  }
}

.mi_imagen {
  margin-top: -15px;
  margin-left: 30px;
}
.section_secondary {
  margin-top: 20px;
  &-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    margin: 45px;
  }
}
.card {
  border-color: $blanco;
  &:hover {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-5%);
  }
}
.wrapper_card {
  margin: 45px;
}
.wrapper_img {
  display: flex;
  justify-content: center;
  img {
    width: 35px;
    height: 35px;
    padding: 5px;
  }
  &-redes {
    display: flex;
    justify-content: center;
    padding: 30px;
    img {
      padding: 10px;
    }
  }
}
.form_container_all {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .main_principal {
    background-image: url(../../img/backgroundipad.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    &_paragraph {
      font-size: 2rem;
      padding: 30px;
      &_title {
        font-size: 3rem;
        padding: 0 25px;
        &-subtitle {
          font-size: 2rem;
          padding: 0 25px;
        }
      }
    }
  }
  .main_principal-icons {
    padding: 0 50px;
    img {
      width: 50px;
      height: 50px;
      padding: 10px;
      margin: 40px;
    }
  }
  .boton_contacto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .btn {
    font-size: 1.5rem;
  }
  .mi_imagen {
    margin-top: 124px;
    margin-left: 225px;
  }
  .secondary_wrapper {
    display: flex;
    flex-direction: row;
  }
  .section_redes {
    margin: 100px;
  }
  .wrapper_img {
    img {
      width: 70px;
      height: 70px;
      padding: 10px;
    }
    &-redes {
      display: flex;
      justify-content: center;
      padding: 30px;
      margin-bottom: 20px;
      img {
        padding: 10px;
      }
    }
  }
  .wrapper_form {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  .flecha_inicio {
    position: fixed;
    bottom: 10px;
    right: 20px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .main_principal {
    background-image: url(../../img/backgrounddesktop.png);
    &_paragraph {
      font-size: 3rem;
      font-weight: 400;
      padding: 70px;
      &_title {
        font-size: 4rem;
        padding: 0 100px;
        &-subtitle {
          font-size: 2.5rem;
          padding: 0 105px;
        }
      }
    }
  }
  .main_principal-icons {
    margin-left: 15px;
    img {
      padding: 5px;
      width: 60px;
      height: 60px;
    }
  }
  .btn {
    font-weight: 400;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .boton_contacto {
    display: flex;
    justify-content: start;
    margin-left: 100px;
  }
  .mi_imagen {
    display: flex;
    justify-content: center;
    margin-top: -233px;
    margin-left: 30px;
    img {
      width: 500px;
      height: 550px;
    }
  }
  .section_principal {
    margin-top: 20px;
    padding: 15px;
    &_title {
      font-size: 3rem;
      &-paragraph {
        font-size: 1rem;
      }
    }
  }
  .section_tecnologias {
    margin-top: 100px;
  }
  .section_contact {
    margin-top: 90px;
  }
  .section_secondary {
    margin-top: 50px;
    &-title {
      font-size: 3rem;
    }
  }
  .secondary_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    border-color: $blanco;
    &:hover {
      box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
      transform: translateY(-5%);
    }
  }
  .form_container_all {
    display: flex;
    justify-content: center;
  }
}
